In [3]:
import pandas as pd

In [6]:
df = pd.DataFrame({"name": ["Asha", "Rahul", "Meera", "Arjun"],
                  "age": [20, 19, 21, 20],
                  "math_score": [85, 70, 92, 60]
                  })

In [7]:
print(df)

    name  age  math_score
0   Asha   20          85
1  Rahul   19          70
2  Meera   21          92
3  Arjun   20          60

In [8]:
print(df.head())

    name  age  math_score
0   Asha   20          85
1  Rahul   19          70
2  Meera   21          92
3  Arjun   20          60

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4 non-null      object
 1   age         4 non-null      int64
 2   math_score  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes
None

In [10]:
print(df.describe())

             age  math_score
count   4.000000     4.00000
mean   20.000000    76.75000
std     0.816497    14.45395
min    19.000000    60.00000
25%    19.750000    67.50000
50%    20.000000    77.50000
75%    20.250000    86.75000
max    21.000000    92.00000

In [12]:
print(df['math_score'])

0    85
1    70
2    92
3    60
Name: math_score, dtype: int64

In [13]:
print(df['math_score']>80)

0     True
1    False
2     True
3    False
Name: math_score, dtype: bool

In [14]:
df["passed"] = df["math_score"]>=60
print(df)

    name  age  math_score  passed
0   Asha   20          85    True
1  Rahul   19          70    True
2  Meera   21          92    True
3  Arjun   20          60    True

In [15]:
df.loc[1, "math_score"] = None
print(df)

    name  age  math_score  passed
0   Asha   20        85.0    True
1  Rahul   19         NaN    True
2  Meera   21        92.0    True
3  Arjun   20        60.0    True

In [16]:
print(df.isnull().sum())

name          0
age           0
math_score    1
passed        0
dtype: int64

In [18]:
df['math_score'] = df['math_score'].fillna(0)
print(df)

    name  age  math_score  passed
0   Asha   20        85.0    True
1  Rahul   19         0.0    True
2  Meera   21        92.0    True
3  Arjun   20        60.0    True