In [3]:
import pandas as pd
#1. load dataset
df = pd.read_csv("house_prices.csv")
df.head()

   size_sqft  bedrooms   price
0        850         2  200000
1        900         2  210000
2       1000         2  230000
3       1100         3  250000
4       1200         3  270000

In [4]:
# Explore  the dataset
print(df.info())
print(df.describe())
print("missing values: \n", df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   size_sqft  10 non-null     int64
 1   bedrooms   10 non-null     int64
 2   price      10 non-null     int64
dtypes: int64(3)
memory usage: 372.0 bytes
None
         size_sqft   bedrooms          price
count    10.000000  10.000000      10.000000
mean   1325.000000   3.200000  288000.000000
std     389.622324   1.032796   68280.467355
min     850.000000   2.000000  200000.000000
25%    1025.000000   2.250000  235000.000000
50%    1250.000000   3.000000  280000.000000
75%    1575.000000   4.000000  335000.000000
max    2000.000000   5.000000  400000.000000
missing values:
 size_sqft    0
bedrooms     0
price        0
dtype: int64

In [7]:
#3. Select features (x), and target(y)
X = df[["size_sqft", "bedrooms"]]
Y = df["price"]

In [10]:
#4. Split into tarin and test data from skleaer
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [12]:
print("training rows", len(X_train))
print("testing rows", len(X_test))

training rows 8
testing rows 2

In [16]:
#5.train the model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
print("Model trained successfully")

Model trained successfully

In [17]:
#6. Make predictions - Testing
y_pred = model.predict(X_test)
print("Predictions", y_pred)
print("Actual Values", y_test.values)

Predictions [370134.22818792 214479.86577181]
Actual Values [370000 210000]

In [18]:
#7. evaluate the model(mse, r2)
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error", mse)
print("R-squared", r2)

Mean Squared Error 10043607.269942865
R-squared 0.9984306863640714

In [20]:
results = pd.DataFrame({
    "actual price": y_test.values,
    "Preedicted price": y_pred
})
results

   actual price  Preedicted price
0        370000     370134.228188
1        210000     214479.865772

In [21]:
#8 Use model for prediction
new_house = pd.DataFrame([[1400,3]], columns=["size_sqft", "bedrooms"])
predicted_price = model.predict(new_house)
print("Predicted price for new_house:", predicted_price[0])

Predicted price for new_house: 300746.644295302